<!doctype html>
<div id="main">
  <!-- Featured Post -->
  <article class="post featured">
    <header class="major">
      <h3>
        Graduation <br />
        Bachelor in Computer Science
      </h3>
    </header>
    <a class="image fit"><img src="images/diploma.png" alt="" /></a>
    <p>
      The diploma can be validated in
      <a href="https://www.ufscar.br/valida-doc-academica"> this website</a>,
      using the code: <strong>7.7.86dbbc17c2c6</strong>
    </p>
    <p>
      <strong>Observations</strong>:<br />
      1. My gradution was concluded half way remotely and half way on-site
      <br />
      2. The average score, counting all the classes I took, is 80.8%
      <br />
      3. The course offered a few different paths: I chose the Software
      Engineering and Architecture one.
    </p>
  </article>
  <article class="post featured">
    <header class="major">
      <h3>
        Amive <br />
        research project
      </h3>
    </header>
    <p>
      Amive is a multidisciplinary research group focused on developing tech
      products to help and assist the academic community struggling with mental
      health.
    </p>
    <p>
      I took part in the development of a chatbot, responsible for having simple
      conversations with the users. <br />
      The project was mainly focused on backend development with Node.js and
      integrated with many third party applications, such as: Meta's Messenger,
      Twitter (or X) and Telegram. <br />
      More on that can be found
      <a href="https://www.amive.ufscar.br/english">in this link</a> .
    </p>
  </article>
</div>
