<!DOCTYPE HTML>
<div id="main">
	<!-- Post -->
	<section class="post">
		<header class="major">
			<span class="date">April 25, 2017</span>
			<h1>This is a<br />
				FUCK FUCK</h1>
			<p>
				I reserve this section to talk about all the projects I created and that I am proud of. <br />
				Those may vary scope (frontend, backend, cli tools).
			</p>
		</header>
	</section>

	<section class="posts">
		<article>
			<header>
				<h2><a>News App<br />
						React Native</a></h2>
			</header>
			<a class="image fit"><img src="images/news-cloud.png" alt="" /></a>
			<p>
				Built using React Native and Expo together with TypeScript, this app features Domain Driven Design and Clean Clode for React projects.
				It also makes use of the Signal state management library for quick and simple global states.

				External API integration and pagination give life to the app.
			</p>
			<ul class="actions special">
				<li><a href="https://github.com/eduardo-gualberto/news-cloud" class="button">Check out</a></li>
			</ul>
		</article>
		<article>
			<header>
				<h2><a>React Rookie<br />
						React.js</a></h2>
			</header>
			<a class="image fit"><img src="images/react+rookie.png" alt="" /></a>
			<p>
				React Rookie was created with the intention of learning deeper the functioning of React hooks.
				It can detect hook callback cycles, which are the main reasion React apps usually perform poorly.
				All of this tested with Jenkins and designed to be a CLI tool.
			</p>
			<ul class="actions special">
				<li><a href="https://github.com/eduardo-gualberto/react-rookie" class="button">Check out</a></li>
			</ul>
		</article>
		<article>
			<header>
				<h2>Smart Calculator<br />
						Elixir CLI Tool</h2>
			</header>
			<a class="image fit"><img src="images/smart-calc.png" alt="" /></a>
			<p>
				This is a smart calculator that can perform all sorts of operations such as addition, subtraction, multiplication and division
				but it can also store variables and perform operations with them.
				It was built using Elixir and designed to be a CLI tool.
				It makes use of the Functional Paradigm to elegantly solve problems.
			</p>
			<ul class="actions special">
				<li><a href="https://github.com/eduardo-gualberto/elixir-calculator" class="button">Check out</a></li>
			</ul>
		</article>
		<article>
			<header>
				<h2><a>WebChess<br />
						React.js</a></h2>
			</header>
			<a class="image fit"><img src="images/chessboard.png" alt="" /></a>
			<p>
				Chess.com like app which allows users to play chess with each other. It was built using React.js.
				It features a complex pooling mechanism to keep the game updated in real time.
				It can also be played against a bot, which was built using the Minimax algorithm.
			</p>
			<ul class="actions special">
				<li><a href="https://github.com/eduardo-gualberto/web2-chess-react" class="button">Check out</a></li>
			</ul>
		</article>
	</section>

	<!-- Footer -->
	<!-- <footer>
                        <div class="pagination"> -->
	<!--<a href="#" class="previous">Prev</a>-->
	<!-- <a href="#" class="page active">1</a>
                            <a href="#" class="page">2</a>
                            <a href="#" class="page">3</a>
                            <span class="extra">&hellip;</span>
                            <a href="#" class="page">8</a>
                            <a href="#" class="page">9</a>
                            <a href="#" class="page">10</a>
                            <a href="#" class="next">Next</a>
                        </div>
                    </footer>

</div>