<!DOCTYPE html>
<div id="main">
    <!-- Featured Post -->
    <article class="post featured">
        <header class="major">
            <span class="date">today</span>
            <h3>Mid-level Web/Mobile Developer<br />
                PontoTel</a></h3>
            <p>Actively works on the project's architecture converting it to Domain Driven Design and Clean
                Code.<br />
                Project level updates, such as bumping Expo SDK, EAS Update support and React Native versions.
                <br />
                My biggest achievement was to containarize the development environment with the help of
                Docker.<br />
                Currently working on a test workflow for the project using Jenkins.
            </p>
            <p>
                <strong>Tech stack</strong>: React/React Native, Redux Toolkit, Styled Components, Reanimated,
                Maestro (UI Tests),</br>
                TypeScript, SQLite3, Expo, EAS Update, <br />
                Docker, Jenkins
            </p>
        </header>
    </article>
    <article class="post featured">
        <header class="major">
            <span class="date">Feb 2024</span>
            <h3>Entry-level Web/Mobile Developer<br />
                PontoTel</a></h3>
            <p>
                Focuses on React (Native) development and deployment for Android and iOS platforms.</br>
                Responsible for the whole of: Jira tasks management, Customer Success communication,
                development, testing</br>
                and deploying to the stores.<br />
                I have also worked on the companys website a few times, using Vue.js
            </p>
            <p>
                <strong>Tech stack</strong>: React/React Native, Redux Toolkit, Styled Components, Reanimated,
                Maestro (UI Tests),</br>
                TypeScript, SQLite3, Expo, EAS Update, Vue.js
            </p>
        </header>
    </article>
    <article class="post featured">
        <header class="major">
            <span class="date">Sep 2023</span>
            <h3>Entry-level Mobile Developer<br />
                Santander</a></h3>
            <p>
                Responsible for the development of a native mobile application for the bank's customers.</br>
                Worked on the project's architecture, development and testing. <br />
                A teaching experience, since the app would receive millions of daily visits, thus every detail
                got tested.
            </p>
            <p>
                <strong>Tech stack</strong>: iOS, Swift, Objective-C, CocoaPods, CoreData, SPM, Alamofire,
                <br />
                ViewCode, MVVM, Viper.
            </p>
        </header>
    </article>
    <article class="post featured">
        <header class="major">
            <span class="date">Mar 2023</span>
            <h3>Entry-level Mobile Developer<br />
                Tokenlab</a></h3>
            <p>
                Started off developing Flutter cross-platform applications. But shortly had to fill in the gap
                for native iOS Development <br />
                Worked creating features as well as maintaining legacy Objective-C code as well as converting it
                to Swift. <br />
                I had a great time working with RxSwift, and the reactive programming paradigm as a whole.
                The apps I worked with all presented modern Clean Code implementations as well as the Viper
                design pattern, which made it easy for me to quickly learn.
            </p>
            <p>
                <strong>Tech stack</strong>: iOS, Swift, Objective-C, Carthage, SPM, Alamofire, CoreData,
                MapKit, HealthKit<br />
                RxSwift, RxCocoa, Viper, Clean Code, Flutter, Dart
            </p>
        </header>
    </article>
    <article class="post featured">
        <header class="major">
            <span class="date">Dec 2021</span>
            <h3>Data Science Intern<br />
                Experian</a></h3>
            <p>
                My job was to work on the entire data pipeline of the billing department of Experian. <br />
                From the data extraction, transformation, and loading (ETL) to the data visualization and
                analysis. <br />
                From SQL Server queries, to Python scripts and then to Tableau dashboards. <br />
                I worked for the global team as I was responsible for Colombia, Malaysia, UK and Bulgaria's
                data.
            </p>
        </header>
    </article>
    <article class="post featured">
        <header class="major">
            <span class="date">Aug 2020</span>
        </header>
    </article>    

</div>
